    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Business Time</h3>
							<ul class="list-time">
								<li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 08.00pm</li> <li>Sunday: <span>Closed</span></li>
							</ul>
						</div>
					</div>
					<!-- <div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Newsletter</h3>
							<form class="newsletter-box">
								<div class="form-group">
									<input class="" type="email" name="Email" placeholder="Email Address*" />
									<i class="fa fa-envelope"></i>
								</div>
								<button class="btn hvr-hover" type="submit">Submit</button>
							</form>
						</div>
					</div> -->
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Social Media</h3>
							<p>Tetap terhubung untuk info promo, produk terbaru, dan tips hidup sehat dari Kartika Water!</p>
							<ul>
                                <!-- <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li> -->
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li> -->
                                <!-- <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li> -->
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
						</div>
					</div>
				</div>
				<hr>
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About KARTIKA WATER</h4>
                            <p>Kartika Water adalah layanan distribusi air minum yang mengedepankan kualitas, kepraktisan, dan kepercayaan. Kami menyediakan berbagai jenis air minum seperti galon isi ulang serta air kemasan 1500ml, 600ml, dan 400ml yang siap memenuhi kebutuhan air bersih keluarga Anda setiap hari.</p>
                            <p>Dengan sistem pemesanan online yang mudah diakses melalui website, kami berkomitmen menghadirkan pengalaman belanja yang cepat, nyaman, dan modern. Kami percaya bahwa setiap orang berhak mendapatkan akses terhadap air minum berkualitas.</p> 
							<p>Melalui digitalisasi layanan, Kartika Water hadir sebagai solusi terpercaya untuk memberikan kemudahan, kecepatan, dan kenyamanan dalam setiap tetes air yang Anda konsumsi.</p> 							
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Jl. Batu Ampar 1 No.8, RT.4/RW.2, Batu Ampar, Kec. Kramat jati, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13520 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+62 819-0499-9900</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="kartikawater@gmail.com">contactinfo@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2025 <a href="#">Kartika Water</a> Design & Development By :
            <a href="https://html.design/">Raden Cahya Kartika</a></p>
    </div>
    <!-- End copyright  -->