{% extends "main.html" %}
{% load static %}

{% block content %}

    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop</h2>
                    </div>
            </div>
        </div>
    </div>
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by </span>
                                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                        <option data-display="Select">Nothing</option>
                                        <option value="1">Popularity</option>
                                        <option value="2">High Price &rarr; High Price</option>
                                        <option value="3">Low Price &rarr; High Price</option>
                                        <option value="4">Best Selling</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    </ul>
                            </div>
                        </div>

                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        {# Loop melalui produk yang dikirim dari view shop (pastikan view Anda mengirimkan 'products') #}
                                        {% for product in products %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        {% if product.stock == 0 %}
                                                            <p class="sold-out">Sold Out</p>
                                                        {% elif product.price > 50 %} {# Contoh: Anda bisa menyesuaikan kondisi ini #}
                                                            <p class="sale">Sale</p>
                                                        {% else %}
                                                            <p class="new">New</p>
                                                        {% endif %}
                                                    </div>
                                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/default_product.jpg' %}{% endif %}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        {# Form untuk tombol Add to Cart #}
                                                        {% if user.is_authenticated %} {# Hanya tampilkan tombol jika pengguna login #}
                                                            {% if product.stock > 0 %}
                                                            <form action="{% url 'add_to_cart' product.id %}" method="post">
                                                                {% csrf_token %}
                                                                <button type="submit" class="cart">Add to Cart</button>
                                                            </form>
                                                            {% else %}
                                                            <button type="button" class="cart disabled">Sold Out</button>
                                                            {% endif %}
                                                        {% else %}
                                                            <a href="{% url 'login' %}" class="cart">Login to Add</a> {# Jika belum login, arahkan ke halaman login #}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>{{ product.name }}</h4>
                                                    <h5>Rp {{ product.price|floatformat:0 }}</h5>
                                                    <h5>stock {{ product.stock}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}